body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.navbar {
    background-color: #f16565;
    overflow: hidden;
    padding: 15px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-links {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: #101010;
    text-decoration: none;
    padding: 5px;
    display: block;
    font-size: large;
    font-weight: bold;
}

a:hover {
    color: #ecdede;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background-color: #141313;
    height: 5px;
    width: 25px;
    margin: 5px 0;
    display: block;
}

.container1 {
    margin-top: 70px; /* Adjusted to match the height of the navbar */
    width: calc(100% - 20px); /* Adjusted width to accommodate the gap */
    margin-right: 10px; /* Half of the desired gap */
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(100deg, #f2eb9d, #f6aed7 70%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adding shadow */
}

.container2 {
    margin-top: 70px; /* Adjusted to match the height of the navbar */
    width: calc(100% - 20px); /* Adjusted width to accommodate the gap */
    margin-right: 10px; /* Half of the desired gap */
    display: flex;
    flex-direction: row;
    background: linear-gradient(100deg, #f2eb9d, #f6aed7 70%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adding shadow */
}
